@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-[#EEEFF1];
  }
}

.border-gradient {
  @apply transition-colors border-2 border-transparent border-solid border-gradient-tr-pink-orange-white;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-tr from-[#EC4DC7] to-[#ED823A];
}

@media screen and (max-width: 767px) {
  .gradient-container {
    right: 0;
    min-width: auto;
  }
}
.gradient-container {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  max-width: 1100px;
}

@media screen and (max-width: 767px) {
  .gradient-animation {
    top: 5%;
    width: auto;
    min-width: 800px;
  }
}

@media screen and (max-width: 991px) {
  .gradient-animation {
    margin-top: -43px;
  }
}

.gradient-animation {
  position: static;
  left: auto;
  top: 6%;
  right: -12%;
  bottom: auto;
  overflow: hidden;
  min-width: 1000px;
  margin-right: 0;
  padding-top: 0;
  opacity: 1;
}
